:root {
  --font-family: sans-serif;
  --accent-color: #fff01f;
  --accent-color-compliment: #000fe0;
  --font-color: white;
  --border-radius: 8px;
  --padding: 16px 24px;
  --border-width: 2px;
  --desktop-vw: 641px;
  --background-color: black;
}

html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline-color: var(--accent-color-compliment);
}

body {
  color: var(--font-color);
  font-family: var(--font-family);
  font-size: 1.6rem;
  background-color: rgb(0, 0, 0);
  padding: 16px;
}

ul,
li {
  margin: 0;
  padding: 0;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.accent {
  color: var(--accent-color);
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
}

.h1 {
  font-size: 3rem;
}

.h2 {
  font-size: 3rem;
}

.h2 {
  font-size: 2rem;
}

/* Page Layout */
.layout {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.header {
  border: var(--border-width) solid white;
  border-radius: var(--border-radius);
  border-bottom-width: 24px;
  padding: var(--padding);
  background-color: var(--background-color);
}

.header .h1 {
  text-align: left;
}

.main {
  border: var(--border-width) solid white;
  border-radius: var(--border-radius);
  border-top: 0;
  border-bottom: 0;
  padding: var(--padding);
  flex-grow: 1;
  background-color: var(--background-color);
}

.footer {
  border: var(--border-width) solid white;
  border-radius: var(--border-radius);
  border-top-width: 0;
  padding: var(--padding);
  background-color: var(--background-color);
}

/* Buttons Section */
.buttons {
  text-align: center;
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn {
  background-color: var(--accent-color);
  border: var(--border-width) solid var(--accent-color);
  border-radius: var(--border-radius);
  padding: var(--padding);
  color: black;
  text-transform: uppercase;
  font-size: 2rem;
  display: inline-block;
  margin: var(--padding);
  min-width: 25vw;
}

.btn:hover {
  background-color: transparent;
  color: var(--accent-color);
  cursor: pointer;
}

.btn:active {
  background-color: var(--accent-color);
  color: black;
}

.btn.disabled {
  cursor: not-allowed;
  background-color: grey;
  border-color: grey;
  color: black;
}

@media (min-width: 641px) {
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 25vw;
  }
}

/* Users List */
.users {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: var(--padding);
}

.users__user {
  width: 100%;
  padding-bottom: 4rem;
  text-align: center;
}

.user__image {
  width: 100%;
}

.user__name {
  margin: 1rem 0 1rem 0;
}

@media (min-width: 641px) {
  .users {
    max-width: 1080px;
    margin: 0 auto;
  }

  .users__user {
    width: 33.33%;
    padding: var(--padding);
  }
}
